body{
    /*background: linear-gradient(to right, #0f2027,#203a43, #2c5364);*/
    font-family: 'Poppins', sans-serif;
    background-image: url(images/middle1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    width: 100%;
    box-sizing: border-box;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
header ul{
    display: flex;  
}

header li{
    margin-left: 20px; 
}
header a{
    text-decoration: none;
    color: rgb(18, 37, 122);
    font-size: 20px;
    padding: 12px;
    font-weight: bold;
    
}
header a:hover{
    background-color: rgb(218, 219, 116);
}
#page-logo a{
    padding: 10px;
    font-family: "Oleo Script",sans-serif;
    color: rgb(249, 255, 80);
    font-size: 30px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-left: 3px dotted rgb(255, 255, 255);
}
#page-logo a:hover{
    background-color: rgb(24, 120, 175);
}

#form {
    width: 30rem;
    margin: 20px auto 0 auto;
    padding: 20px;
    background-color: rgb(163, 154, 154);
    border-radius: 4px;
    font-size: 12px;
}
#form h1{
    color: #0f2027;
    text-align: center;
}
#form button{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(41, 57, 194);
    border: none;
    border-radius: 4px;
}
.input-control{
    display: flex;
    flex-direction: column;
}
.input-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
}
.input-control input:focus{
    outline: 0;
}
.input-control.success input{
    border-color: green
}
.input-control.error input{
    border-color: red
}
.input-control .error{
    color: rgb(0, 0, 0);
    font-size: 10px;
    height: 13px;
}

h1{
    text-align: center;
    color: rgb(2, 9, 53);
}
section ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

label{
    margin-bottom: 0.5rem;
    display: block;
}
input, 
textarea,
select{
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font: inherit;
    border: 1px solid rgb(184, 184, 184) ;
    padding: 0.25rem;
    color: rgb(61, 58, 58);
}
input:focus,
textarea:focus,
select:focus {
    background-color: rgb(219, 190, 253);
    color: rgb(32, 5, 63);
    border-color: rgb(32, 5, 63);
}
textarea{
    resize: vertical;
}
.buttons{
    display: flex;
    padding: 4px;
}
button{
    display: block;
    font: inherit;
    background-color: rgb(54, 23, 90);
    color: white;
    border: 1px solid rgb(32, 5, 63);
    padding: 0.5rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 4px;
}
button:hover{
    background-color: rgb(65, 36, 99);
    border-color: rgb(65, 36, 99)
}
.form-control-inline{
    display: flex;
}
.form-control-inline input{
    width: auto;
    margin-right: 0.5rem;
}